.about-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
    color: white;
    font-size: 1.5em !important;
    text-align: left !important;
}
p a{
  color: #fc6d00 !important;
}
p span{
  padding-left: 2em;
}
.about-img img{
  border: 2px solid #fc6d00;
  border-radius: 100%;
  float: left;
}